.right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  form {
    display: flex;
    margin-left: 80px;
    margin-top: 25px;
    margin-bottom: 20px;
    
  }
  button {
    background: #17f;
    color: #fff;
    font: inherit;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0.5em 1.5em;
   
   
  }
  button:active {
    background-color: #05b;
  }
  input {
    border: 0.2px solid #999;
    border-radius: 5px;
    font: inherit;
    padding: 0.5em;
    outline: none;
    width: 840px;
    height: 22px;
    margin-left: 40px;
  }
  input:focus {
    outline: auto #17f;
  }
  .right p {
    margin-left: 115px;
  }
  .right_middle {
    margin-left: 115px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 28px;
    
  }
  .right_middle > span {
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    margin-left: 5px;
  }
  .posts {
    display : grid;
    width: 71.5vw;
    margin-left: 115px;
    
    gap: 36px;
    grid-template-columns: 1fr 1fr 1fr;
  }