.leaderboard {
    display: flex;
    flex-direction: row;
}
::-webkit-scrollbar {
    display: none;
}
.leaderboard_middle {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 20px;
}
.featured {
    display: flex;
    margin-top: 20px;
}
.leader1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 11px;
}
.leader2 {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 15px;
   margin-left: 50px;
   margin-right: 40px;
}
.featured1 {
    height: 80px;
    width: 80px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 60px;
    
}
.box {
    display: flex;
    align-items: center;
    background-color: rgb(230, 218, 115);
    position: relative;
    top: -8px;
    left: 32px;
    padding: 4px;
    border-radius: 5px;
}
.box span {
    color: black;
  
}
.position {
    height: 12px;
    width: 20px;
    margin-left: 55px;
    margin-bottom: 6px;
}
.position1 {
    height: 30px;
    width: 50px;
    margin-left: 55px;
    
}
.star{
    height: 15px;
    width: 15px;
    margin-right: 4px;
}
.leader1 h5 {
  margin-left: 58px;
  margin-top: 4px;
}

.leader1 h6 {
    margin-left: 58px;
    margin-top: 4px;
    color: gray;
  }
  .leader2 h5 {
    margin-left: 58px;
    margin-top: 4px;
  }
  
  .leader2 h6 {
      margin-left: 58px;
      margin-top: 4px;
      color: gray;
    }
.featured2 {
    height: 120px;
    width: 120px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 60px;
}
.points_list {
    height: 5000px;
    width: 650px;
    background-color: white;
    margin-top: 40px;
}
.points_list > h5 {
    color: gray;
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.row {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.row h3 {
    background-color: rgb(236, 236, 236);
    margin-left: 20px;
    color: darkgray;
    min-width: 22px;
    width: fit-content;
    height: 20px;
    text-align: center;
    padding: 2px;
    padding-bottom: 4px !important;
    border-radius: 3px;
}
.profile {
    height: 48px;
    width: 48px;
    margin-left: 30px;
    border-radius: 5px;
}
.meta {
    margin-left: 18px;
}

.meta h6 {
    color: grey;
    margin-top: 5px;
    font-size: 0.8em;
    font-weight:500;

}
.row_right {
    display: flex;
    align-items: center;
    margin-left: 300px;
}
.row_right span {
    color: goldenrod;
    font-weight: bold;
    margin-right: 10px;
}
.row_right1 {
    margin-right: 5px;
}

.row_right1 span {
    color: goldenrod;
    font-weight: bold;
}
.coins {
    height: 20px;
    width: 20px;
    margin-right: 13px;
}
.coins4 {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.coins2 {
    height: 20px;
    width: 20px;
    margin-right: 13px;
    margin-left: 7px;
}
.leaderboard_right {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 47px;
}

.mypoints {
    height: 238px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mypoints h3 {
    margin-top: 12px;
}
.mystats {
    display: flex;
    margin-top: 25px;
}
.mystats_total {
    margin-right: 35px;
}
.mystats_total h6 {
    color : gray;
    font-size: 12px;
}
.mystats_week h6 {
    color : gray;
    font-size: 12px;
}
.data {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.data span {
    margin-left: 10px;
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}
.coins3 {
    height: 20px;
    width: 20px;
  
}
.featured3 {
    margin-top: 25px;
    height: 80px;
    width: 80px;
    border: 1px solid lightgray;
    border-radius: 5px;
   
    
}
.department_leaders {
    height: 400px;
    width: 350px;
    background-color: white;
    margin-top: 20px;
}
.headline {
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
}

.headline h4 {
    margin-left: 5px;
}
.row_right1 {
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.profile1 {
    height: 45px;
    width: 45px;
    margin-left: 20px;
    border-radius: 5px;
}
.location_leaders {
    height: 400px;
    width: 350px;
    background-color: white;
    margin-top: 20px;
}

.department_leaders > h5 {
    margin-left: 15px;
    margin-top: 15px;
     margin-bottom: 10px;
    color: gray;
}

.department_leaders > h4 {
    margin-left: 15px;
    margin-top: 25px;
    font-size: 14px;
    
}