.navbar_icons {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 75px;
  height: 100vh;
  position: sticky;
  top: 0;
}
.navbar_logo {
  width: 36px;
  height: 36px;
  margin-left: 18px !important;
  margin: 16px;
  cursor: pointer;
}

.navbar_middle {
  display: flex;
  flex-direction: column;
  margin-bottom: 400px;
  margin-top: 30px;
  margin-left: 12px;
}

.navbar_icons a {
  cursor: pointer;
  color: black;
  text-align: center;
  width: 80%;
  vertical-align: middle;
  margin-bottom: 12px;
  
}
.navbar_icons a:hover {
  background-color: rgb(208, 236, 208);
  border-radius: 100%;
  color: green;
}
.navbar_bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 12px;
}

a span {
  display: none;
}

a:hover span {
  display: block;
  position: absolute;
  left: 65px;
  color: white;
  background-color: black;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}
